go 1.21.5

use (
	./genclientex
	./hackernews
	./hashicorp-go-plugin
	./kratos-oathkeeper-kong
	./kratos-oathkeeper-kong/hello
	./simple-echo-wire
	./simple-fx
	./simple-fx-graphql-go
	./simple-google-wire
	./simple-gqlgen-chi
	./subgraph-go-gqlgen-app
	./wasm-go-plugin
)
